/*头部*/

.public-header {
    height: 140px;
    background-color: #fff;
}

.public-header h2 {
    text-align: center;
    font-size: 48px;
    color: #292828;
    padding-top: 40px;
}

.public-header h2 span {
    color: #5b5a5a;
}






/*导航*/

.dropdown-menu {
    padding: 0;
}

.navbar-collapse a {
    color: #fff;
}

.navbar-collapse a:hover {
    color: #000;
}

.nav-justified ul li {
    border: 1px solid #ddd;
    font-size: 18px;
    text-align: center;
}

.nav-justified li {
    border-radius: 6px;
    color: #fff;
    text-align: center;
    font-size: 24px;
    font-family: "微软雅黑";
}








/*login*/

.public-login {
    height: 100px;
}

.public-login .login-nav {
    font-size: 18px;
    padding-top: 22px;
    padding-bottom: 60px;
    padding-right: 12px;
    float: right;
}

.public-login .login-nav .item {
    padding-left: 5px;
    float: left;
}

.public-login .login-nav .border {
    height: 24px;
    border-left: 2px solid;
}

.public-login .login-nav .border a {
    padding-left: 4px;
    padding-right: 10px;
    color: #515050;
    text-decoration: none;
}







/*banner*/

.public-banner .banner1 {
    width: 84%;
    margin: 0 auto;
}

.public-banner .banner2 {
    position: relative;
    width: 84%;
    height: 100px;
    background: url("../images/interest-banner1.jpg");
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: 100%;
}

.public-banner .banner2 p {
    margin: 0 auto;
    line-height: 100px;
    display: block;
    float: left;
    margin-left: 250px;
}

.public-banner .banner2 p a {
    text-decoration: none;
    font-size: 30px;
    color: #fff;
}

.public-banner .banner2 li {
    width: 158px;
    height: 46px;
    float: right;
    margin-right: 15%;
    margin-top: 25px;
    line-height: 46px;
    font-size: 30px;
    border-radius: 12px;
    box-shadow: 2px 2px 10px #000;
    text-align: center;
    display: block;
    background-color: #fff;
    position: absolute;
    right: 60px;
}

.public-banner .banner2 li a {
    text-decoration: none;
    color: #000;
}

.public-banner .banner3 {
    height: 184px;
}

.public-banner .banner3 li a {
    color: #000;
    font-family: "Microsoft YaHei";
    line-height: 46px;
}

.public-banner .banner3 .wxr {
    width: 190px;
    height: 86px;
    border-bottom: 1px solid;
    margin: 0 auto;
}

.public-banner .banner3 .wxr p {
    font-size: 30px;
    padding-top: 44px;
}

.public-banner .banner3 p {
    padding-top: 12px;
    text-align: center;
    font-size: 24px;
    color: #464545;
}







/*内容*/

.content {
    width: 80%;
    margin: 0 auto;
}

.oneblock {
    margin: 12px;
    width: 380px;
    height: 348px;
    float: left;
    border: 1px solid #eee;
    background: #fff;
}

.content-left {

    height: 854px;
    background: #f0efe5;
}

.content-left-title {
    margin-top: 30px;

    font-size: 30px;
}

.content-left .oneblock-title {
    height: 63px;
}

.content-left .oneblock-content {}

.oneblock-content p {
    line-height: 1.8;
    width: 90%;
    margin: 0 auto;
}

.content-left .oneblock-one {
    margin-top: 6px;
}

.content-left .oneblock-two {
    margin-top: 6px;
}


.content-left .oneblock-four {}

.two-button .last {
    width: 65px;
    height: 36px;
    background: #afbfbf;
    box-shadow: 2px 2px 5px;
    border-radius: 6px;
    line-height: 36px;
    text-align: center;
    font-size: 18px;
    float: left;
    position: absolute;
    right: 120px;
    text-decoration: none;
    cursor: pointer;
}


.two-button {
    height: 40px;
    position: absolute;
    right: 40px;
    bottom: 5px;
}

.two-button .next {
    width: 65px;
    height: 36px;
    background: #afbfbf;
    box-shadow: 2px 2px 5px;
    border-radius: 6px;
    line-height: 36px;
    text-align: center;
    font-size: 18px;
    float: left;
    margin-left: 35px;
}

.more {
    width: 65px;
    height: 36px;
    background: #afbfbf;
    box-shadow: 2px 2px 5px;
    border-radius: 6px;
    line-height: 36px;
    text-align: center;
    font-size: 18px;
    float: right;
}

.more a {
    cursor: pointer;
}


}
.two-button a {
    color: #000;
    cursor: pointer;
}



.content-right {
    width: 32%;
    height: 854px;
    float: left;
    background: #dcdbd3;
}
.content-right-title {
    font-size: 30px;
    border-bottom: 1px solid;
    width: 90%;
    margin: 30px auto 0px;
}
.content-right-list {
    margin: 0 auto;
    font-size: 18px;
    background: #dcdbd3;
}

.content-right-list ul div {
    width: 100%;
    background: #dcdbd3;
}
.content-right-list ul li {
    height: 50px;
    border-bottom: 1px solid;
    margin-top: 15px;
    padding-top: 14px;
}
.content-right-list ul li a {
    color: #000;
    padding-left: 8px;
    float: left;
    text-decoration: none;
}
.content-right-list ul li a:hover {
    color: red;
}
.content-right-list ul #span1 {
    padding-left: 4px;
    float: left;
}
.content-right-list ul #span2 {
    float: right;
}









/*尾部*/
.footer1 {
    width: 84%;
    clear: both;
    margin: 0 auto;
}
.footer1:after {
    content: "";
    display: block;
    clear: both;
}

.footer2 {
    background-color: #000000;
    height: 126px;
}

.footer2 p {
    color: #fff;
    text-align: center;
    font-size: 24px;
    padding-top: 25px;
}

.footer2 .footer-nav {
    margin: 0 auto;
    width: 376px;
}

.footer2 .footer-nav li {
    float: left;
    font-size: 18px;
}

.footer2 .footer-nav .line {
    border-left: #fff 1px solid;
    border-right: #fff 1px solid;
}

.footer2 .footer-nav li a {
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    text-align: center;
    text-decoration: none;
}





/*自适应*/
@media screen and (max-width: 1290px) {
    .public-banner .banner2 p {
        margin-left: 0!important;
    }
}
@media screen and (max-width: 940px) {
    .public-banner .banner2 p {
        display: none!important;
    }
}
@media screen and (max-width: 1360px) {
    .content-right-list ul li {
        height: 70px!important;
    }

    .content-left {
        height: 930px!important;
    }

    .content-right {
        height: 930px!important;
    }
}

@media screen and (max-width: 990px) {
    .content-right {
        height: 970px!important;
    }
}
@media screen and (max-width: 650px) {
    .content-left {
        height: 1220px!important;
    }
}