/*头部*/

.public-header {
    height: 140px;
    background-color: #fff;
}

.public-header h2 {
    text-align: center;
    font-size: 48px;
    color: #292828;
    padding-top: 40px;
}

.public-header h2 span {
    color: #5b5a5a;
}


/*导航*/

.dropdown-menu {
    padding: 0;
}

.navbar-collapse a {
    color: #fff;
}

.navbar-collapse a:hover {
    color: #000;
}

.nav-justified ul li {
    border: 1px solid #ddd;
    font-size: 18px;
    text-align: center;
}

.nav-justified li {
    border-radius: 6px;
    color: #fff;
    text-align: center;
    font-size: 24px;
    font-family: "微软雅黑";
}



/*login*/

.public-login {
    height: 100px;
}

.public-login .login-nav {
    font-size: 18px;
    padding-top: 22px;
    padding-bottom: 60px;
    padding-right: 12px;
    float: right;
}

.public-login .login-nav .item {
    padding-left: 5px;
    float: left;
}

.public-login .login-nav .border {
    height: 24px;
    border-left: 2px solid;
}

.public-login .login-nav .border a {
    padding-left: 4px;
    padding-right: 10px;
    color: #515050;
}




/*banner*/

.banner {
    width: 84%;
    height: 760px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100%;
    margin:0 auto;
}

.banner2 {
    height: 19.5%;
}

.banner2 .zssp {
    width: 155px;
    height: 100px;
    border-bottom: 1px solid;
    margin: 0 auto;
}

.banner2 .zssp p {
    font-size: 30px;
    padding-top: 52px;
}

.banner2 p {
    padding-top: 12px;
    text-align: center;
    font-size: 24px;
    color: #464545;
}

.jion{
    position: absolute;
    bottom: 2%;
    right: 15%;
    font-size: 26px;
    float: left;
    width: 207px;
    background: #666666;
    border-radius: 10px;
    cursor:pointer;
    text-align: center;
    box-shadow: 2px 2px 5px #666666;
}




/*主体*/

.public-body {
    width: 84%;
    height: 855px;
    margin: 0 auto;
}



/*左边list*/

.public-body .body-list {
    float: left;
}

.public-body .body-list ul .light {
    text-align: center;
    background: #252424;
    color: #fff;
    border-bottom: #252424 1px solid;
    padding-top: 35px;
}

.public-body .body-list ul .light span {
    color: #fff;
}

.public-body .body-list ul .light p {
    color: #fff;
}

.public-body .body-list ul li:hover {
    background: #252424;
    border-bottom: #fff 1px solid;
    color: #fff;
}

.public-body .body-list ul li {
    text-align: center;
    padding-top: 35px;
    height: 142.54px;
    background: #fff;
    border-bottom: #721 1px solid;
    cursor: pointer;
}

.public-body .body-list ul li:hover span {
    color: #fff;
}

.public-body .body-list ul li:hover p {
    color: #fff;
}

.public-body .body-list ul li span {
    padding-top: 35px;
    padding-bottom: 14px;
    text-align: center;
    font-size: 32px;
    color: #252424;
}

.public-body .body-list ul li p {
    text-align: center;
    font-size: 18px;
    color: #252424;
}



/*右边content*/

.public-body .body-content {
    height: 855px;
    float: left;
    background-color: #252424;
    overflow: hidden;
}
.oneblock-six
{
    height: 855px;
}
.oneblock-six:after
{
    content:"";
    display:block;
    clear:both;
}
.oneblock-six img
{
    opacity: 0.7;
}
.oneblock-six img:hover
{
    opacity: 1;
}
.pannel
{
    margin-top: 70px;
    float: left;
    color:#fff;
    font-size:18px;
}
.pannel：after
{
    content:"";
    display: block;
    clear: both;
} 
.sale-link a
{
    text-decoration: none;
    color:#fff;    
}
.sale-link a:hover
{
    color:red;
}
.sale-name #red
{
    color: #733535;
}
.pannel
{
    padding-left: 3%!important;
    margin-top:20px;
}
.buy
{
    color: #733535;
    cursor:pointer;
}
/*尾部*/
.footer1 {
    width: 84%;
    clear: both;
    margin: 0 auto;
}
.footer2 {
    background-color: #000000;
    height: 126px;
}

.footer2 p {
    color: #fff;
    text-align: center;
    font-size: 24px;
    padding-top: 25px;
}

.footer2 .footer-nav {
    margin: 0 auto;
    width: 376px;
}

.footer2 .footer-nav li {
    float: left;
    font-size: 18px;
}

.footer2 .footer-nav .line {
    border-left: #fff 1px solid;
    border-right: #fff 1px solid;
}

.footer2 .footer-nav li a {
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    text-align: center;
    text-decoration: none;
}
/*自适应*/
@media screen and (max-width: 1360px)
{
    .banner-title
    {
        display: none;
    }
}

@media screen and (max-width: 1200px)
{
    .body-list li
    {
        width: 16.66%;
        float: left!important;
    }

}
@media screen  and (min-width: 600px)and (max-width: 960px)
{
    .body-list li span
    {
        font-size: 24px!important;
    }
}
@media screen and (max-width: 600px)
{
    .body-list li span
    {
        font-size: 16px!important;
    }
}

@media screen  and (min-width: 720px)and (max-width: 1200px)
{
    .oneblock-six,.body-content
    {
        height: 1283px!important;
    }
}
@media screen and (max-width: 720px)
{
    .oneblock-six,.body-content
    {
        height: 2480px!important;
    }
}
@media screen and (min-width: 1200px)
{
    .pannel
    {
        margin:70px 0px  0px!important;
    }
}
@media screen and (max-width: 1440px)
{
    .pannel
    {
        padding-left: 10px!important;
    }
}
